@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
	font-family: "Open Sans",sans-serif;
	text-align: center;
}

h1, h2 {
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	color: #FF745C;
}

table {
	margin-left: auto;
	margin-right: auto;
}

textarea {
	max-width: 300px;
	width: 100%;
}

.saved {
	margin-bottom: 20px;
}
