{% extends "page.html" %}

{% block title %}RSVP{% endblock %}
{% block body %}
<h1>RSVP</h1>
{% if password is not sameas(null) and not password_valid %}
<h2>Invalid password!</h2>
{% endif %}
{% if guests is not sameas(null) %}
<h2>Results</h2>
<table>
	{% for guest in guests %}
	<tr>
		<td>{{ guest.name }}</td>
		<td><a href="rsvp.php?id={{ guest.party_id }}&akey={{ guest.akey }}">Continue</a></td>
	</tr>
	{% else %}
	<tr><td>No results.</td></tr>
	{% endfor %}
</table>
{% endif %}
<h2>Search</h2>
<form action="index.php" method="GET">
	Last Name: <input type="text" name="name" {% if name is not sameas(null) %}value="{{ name }}"{% endif %}>
	Password: <input type="text" name="password" {% if password is not sameas(null) %}value="{{ password }}"{% endif %}>
	<input type="submit">
</form>
{% endblock %}
