{% extends "page.html" %}

{% block title %}RSVP{% endblock %}
{% block body %}
<h1>RSVP</h1>
<form>
	<table>
		<tr>
			<td>Name</td>
			<td>Response</td>
			{% if party.rehearsal_invited %}<td>Rehearsal Response</td>{% endif %}
		</tr>
		{% for guest in guests %}
		<tr>
			<td>
				{% if guest.is_plus_one %}
				Plus one: <input type="text" name="name-{{ guest.id }}" value="{{ guest.name }}">
				{% else %}
				{{ guest.name }}
				{% endif %}
			</td>
			<td>
				<select name="response-{{ guest.id }}">
					<option value="y" {% if guest.response is sameas(1) %}selected{% endif %}>Attending</option>
					<option value="n" {% if guest.response is sameas(0) %}selected{% endif %}>Not Attending</option>
				</select>
			</td>
			{% if party.rehearsal_invited %}
			<td>
				<select name="rehearsal-response-{{ guest.id }}">
					<option value="y" {% if guest.rehearsal_response is sameas(1) %}selected{% endif %}>Attending</option>
					<option value="n" {% if guest.rehearsal_response is sameas(0) %}selected{% endif %}>Not Attending</option>
				</select>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	Comment: <input type="text" name="comment" value="{{ party.comment }}">
	<input type="hidden" name="id" value="{{ party.id }}">
	<input type="hidden" name="akey" value="{{ party.akey }}">
</form>
{% endblock %}
