{% extends "page.html" %}

{% block title %}RSVP{% endblock %}
{% block body %}
<h1>RSVP</h1>
{% if saved %}
<div class="saved">
	<h2>RSVP saved!</h2><span>If you need to update your RSVP, now or later, just resubmit this form.</span>
</div>
{% endif %}
<form action="rsvp.php?id={{ party.id }}&akey={{ party.akey }}" method="POST">
	<table>
		<thead><tr>
			<td>Name</td>
			<td>Attending?</td>
			{% if party.rehearsal_invited %}<td>Attending Rehearsal Dinner?</td>{% endif %}
		</tr></thead>
		{% for guest in guests %}
		<tr>
			<td>
				{% if guest.is_plus_one %}
				Plus one: <input type="text" name="name-{{ guest.id }}" value="{{ guest.name }}">
				{% else %}
				{{ guest.name }}
				{% endif %}
			</td>
			<td>
				<select name="response-{{ guest.id }}">
					<option value="y" {% if guest.response is sameas(1) %}selected{% endif %}>Attending</option>
					<option value="n" {% if guest.response is sameas(0) %}selected{% endif %}>Not Attending</option>
				</select>
			</td>
			{% if party.rehearsal_invited %}
			<td>
				<select name="rehearsal-response-{{ guest.id }}">
					<option value="y" {% if guest.rehearsal_response is sameas(1) %}selected{% endif %}>Attending</option>
					<option value="n" {% if guest.rehearsal_response is sameas(0) %}selected{% endif %}>Not Attending</option>
				</select>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	<div>Comment for the Bride and Groom?</div>
	<div><textarea maxlen=2048 name="comment">{{ party.comment }}</textarea></div>
	<div><input type="submit" value="Save"></div>
</form>
{% endblock %}
